<%- include("partials/header"); -%>

<%  posts.forEach(function(post){ %>
 
    <h1><%= post.title %></h1>
    <p>
        <%= post.content.substring(0,100) + "..." %>
        <a href="/posts/<%=post.title%>">Read More</a>
    </p>
    <% }) %>
    <form action="/reviews">
        <button class="btn btn-danger" type="submit"><span>Movie Review</span></button>
    </form>




<%- include("partials/footer"); -%>