<%- include('partials/header') %>
<button type="submit" class="btn btn-danger"><a href="/imagesPage">Add Movie</a></button>
<h1>New Movies</h1>
<form class="navbar-form navbar">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search movie" id="searchbar" onkeyup="search_animal()">
      <ul id='list'>
            <li class="animals" id="width-col" style="list-style: none;">    
            <div class="row mb-3"> 
                <% items.forEach(function(image) { %>    
                <div class="column card" style="margin: 10px; width: 30.33%;" align="center">
                    <a href="/movie">
                            <img src="data:image/<%=image.img.contentType%>;base64,
                            <%=image.img.data.toString('base64')%>" style="width:18rem; height:300px; padding-top: 2%;" >
                            <!-- <div class="card-body" >
                                <h5 class ='card-body' id="image_name"><%= image.name %></h5>
                                <p class ='card-body' id="image_desc"><%= image.desc %></p>
                            </div> -->
                    </a>
                </div>
                <% }) %>
            </div>  
            </li>
        </ul>
    </div>
    
    <!-- <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-search"></span> Search
    </button> -->
  </form>
<p><strong><%= lines %></strong></p>



<%- include("partials/footer"); -%>