<%- include('partials/header') %>
<button type="submit" class="btn btn-danger"><a href="/imagesPage">Add Movie</a></button>
<h1>New Movies</h1>
<form class="navbar-form navbar">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search movie" id="searchbar" onkeyup="search_animal()">
      <ul id='list'>
         
          <li class="animals">    
            <div class="border-dark mb-3 row1" style="width: 18rem;" >
                
            <div class="col1" >
                <% items.forEach(function(image) { %> 
                <a href="/seatBooking">
                    <img src="data:image/<%=image.img.contentType%>;base64,
                        <%=image.img.data.toString('base64')%>" style="width:18rem; height:300px;" >
                        <div class="card-body" align="center">
                        <h5 class ='card-body' id="image_name"><%= image.name %></h5>
                        <p class ='card-body' id="image_desc"><%= image.desc %></p>
                    </div>
                </a>
                
            </div>
        </div>
        <% }) %>
        </li>
        
    </ul>
    <!-- <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-search"></span> Search
    </button> -->
  </form>
<p><strong><%= lines %></strong></p>



<%- include("partials/footer"); -%>