<%- include('partials/header') %>
<button type="submit" class="btn btn-danger"><a href="/imagesPage">Add Movie</a></button>
<h1>New Movies</h1>
<form class="navbar-form navbar">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search movie" id="searchbar" onkeyup="search_animal()">
      <ul id='list'>
        <% items.forEach(function(image) { %>
        <li class="animals">    
            <div class="row" >
            <div class="column">
                <a href="/seatBooking">
                    <img src="data:image/<%=image.img.contentType%>;base64,
                        <%=image.img.data.toString('base64')%>" style="width:200px; height:200px;" >
                    <h5><%= image.name %></h5>
                    <p><%= image.desc %></p>
                </a>
            </div>
        </div>
        </li>
        <% }) %>
    </ul>
    <!-- <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-search"></span> Search
    </button> -->
  </form>
<p><strong><%= lines %></strong></p>



<%- include("partials/footer"); -%>